{% extends 'base.html.twig' %}

{% block title %}MediaObject{% endblock %}

{% block body %}
    <h1>MediaObject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ media_object.id }}</td>
            </tr>
            <tr>
                <th>FilePath</th>
                <td>{{ media_object.filePath }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ media_object.Type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('media_object_index') }}">back to list</a>

    <a href="{{ path('media_object_edit', {'id': media_object.id}) }}">edit</a>

    {{ include('media_object/_delete_form.html.twig') }}
{% endblock %}
